@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

p {
  font-size: 18px;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  overflow: hidden;
  box-shadow: 0 10px 20px 5px hsl(221, 100%, 96%);
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 375px;
  min-width: 320px;
}

.col h1 {
  font-size: 1.5em;
}

.res-col h1 {
  color: hsl(241, 100%, 89%);
}

.res-col {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 35px;
  gap: 30px;
  align-items: center;
  padding: 30px 60px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

@media (max-width: 900px) {
  main {
    align-items: flex-start;
  }
  .container {
    flex-direction: column;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  .col {
    width: 100%;
    max-width: 500px;
    min-width: 320px;
  }
  .res-col {
    border-radius: 0 0 35px 35px;
    -webkit-border-radius: 0 0 35px 35px;
    -moz-border-radius: 0 0 35px 35px;
    -ms-border-radius: 0 0 35px 35px;
    -o-border-radius: 0 0 35px 35px;
  }
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.circle span {
  color: white;
  font-size: 4em;
  font-weight: 800;
}

.circle p {
  margin: 0;
  font-weight: 700;
  color: hsla(241, 100%, 89%, 0.5);
}

.great {
  color: white;
  font-size: 2.1em;
  font-weight: 700;
}

.res {
  color: hsl(241, 100%, 89%);
}

.sum-col {
  color: hsl(224, 30%, 27%);
  font-weight: 700;
  padding: 30px 40px;
  gap: 20px;
}

.sum {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-size: 18em;
}

.sum div {
  display: flex;
  justify-content: space-between;
}

.sum > div {
  padding: 0 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.sum > div > div {
  gap: 10px;
}

.sum span {
  color: hsla(224, 30%, 27%, 0.5);
}

button {
  border: none;
  background-color: hsl(224, 30%, 27%);
  color: white;
  font-size: 1.1em;
  font-weight: 700;
  width: 100%;
  height: 56.8px;
  margin: 20px 0;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

button:hover {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  cursor: pointer;
}
